---
import Layout, { Props as LayoutProps } from "~/layouts/BaseLayout.astro";
import Header from "~/components/Header.astro";
// import Footer from "~/components/widgets/Footer.astro";

export type Props = LayoutProps;
const props = Astro.props;
---

<Layout {...props}>
  <Header />
  <main class="flex flex-col h-full w-full">
    <slot />
  </main>
  <!-- <Footer /> -->
</Layout>
